# Environments
.env
my_env
env/
venv/
*.egg-info/

# Database
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media & Static
/media/
/static/